version: '3.8'
services:
  mongodb:
    image: mongo:latest
    container_name: cargodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: rootuser
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
      MONGO_INITDB_DATABASE: myappdb # This DB will be created if an init script uses it
    volumes:
#      - mongodb_data:/data/db
      - ./init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
    networks:
      - mongodb_network


networks:
  mongodb_network:
    name: mongodb_network

